.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#myCarousel {
  height: 400px;
}
.carousel-inner{
  height: 400px;
}

.carousel-inner img {
  object-fit: cover;
  height: 100%;
}
i{
  cursor: pointer;
  transition: all 0.5s ease-in;
}
i:hover{
  transform: scale(1.5);
}
#message {
  position: fixed;
  top: auto;
  right: 10px;
  width: auto;
  z-index: 9999;
}
